body {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/*CSS cho scroll bar*/
/* scrollbar height and width */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

/* Track */
::-webkit-scrollbar-track {
    background: rgb(226, 83, 83);
  }
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(226, 83, 83);;
  }
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
  }


/*CSS cho qa-top-nav*/
.qa-top-nav {
    margin: 0; /*bỏ khoảng trống xung quanh*/
    padding: 0; /*bỏ khoảng trống bên trong*/
    list-style: none; /*bỏ bullets của list itemss*/
    font-size: 13px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.qa-top-nav li {
    display: inline;
    padding: .1rem .5rem;
    border-right: 1px solid black;
}

.qa-top-nav li:last-of-type {
    border-right: 0;
}

.qa-top-nav li a {
    color: white;
    text-decoration: none;
}

.qa-top-nav li a:hover, .qa-top-nav li a:focus {
    color: purple;
}
.qa-top-nav-mobile ul{
    list-style:none;
    
}
.qa-top-nav-mobile  a{
    font-size: 9px;
    text-decoration: none;
    color:white;
    
}
.qa-top-nav-mobile li a{
    font-size: 9px;
    text-decoration: none;
    color:white;
    
}

/*css cho logo header*/
.qa-logo img {
    max-height: 70px;
}

/*css cho tìm kiếm*/
.qa-search{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/*css cho header giỏ hàng*/
.qa-header-cart {
    padding: .25rem;
    cursor: pointer;
    color: black;
    font-weight: bold;
    line-height: 2.5;
    text-decoration: none;
}

.qa-header-cart:hover{
    color:red;
}



/*css cho navbar item*/
@media  (min-width: 1024px){
    .sticky{
        position: fixed; /*giữ cho header tại vị trí cố định*/
        top: 0;
        width: 100%
    }
}
#category-to-sticky{
    z-index: 1000; /* Đảm bảo rằng phần nội dung có z-index cao hơn so với nội dung */
}

@media  (max-width: 768px){
    .qa-navbar-categories{
        font-size: 25px;
    }
}

.nav-item {
    margin-right: 5px;
}

.nav-item:last-of-type {
    margin-right: 0;
}

.nav-item .nav-link {
    padding-top: .2rem;
    padding-bottom: .3rem;
}

.product-price-old {
    text-decoration: line-through;
    color: #ccc;
    font-weight: 600;
    font-size: 18px;
}

.product-price {
    font-size: 24px;
    font-weight: 600;
}

.nav-item.dropdown:hover .dropdown-menu {
    display: block;
}


/*css cho footer address*/
.qa-footer-address {
    
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.qa-footer-address-info a{
    text-decoration: none;
    color:red;
}

.qa-footer-address-info a:hover{
   
    color:blue;
}

.qa-footer-address-info li{
    list-style:square;
    margin-top: 10px;
}
/*css cho footer policy*/
.qa-footer-policy{
  
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.qa-footer-policy-info li {
    margin-top: 10px;
    margin-top: 10px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.qa-footer-policy-info a{
    color: #e0e0e0;
    text-decoration: none;
}

.qa-footer-policy-info a:hover{
    color: blue;
    text-decoration: none;
}

/*css cho footer social*/
.qa-social{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.qa-social-links a{
    color: #e0e0e0;
    text-decoration: none;
}
.qa-social-links a:hover{
    color: blue;
    text-decoration: none;
}
.qa-social-links li {
    margin-top: 10px;
    margin: 0;
    padding: 0;
    list-style: none; 
}

footer{

  left: 0;
  bottom: 0;
  width: 100%;
}

.qa-home-product{
    overflow:auto;
  
}
.qa-home-product::-webkit-scrollbar {
    display: none;
  }
.qa-home-product .card{
    max-width: 100%;
}

.qa-home-product .product-price-old{
    font-size:16px;
}
.qa-home-product .product-price{
    font-size:18px;
    color:red;
}
.qa-home-product .card-title{
    font-size: 15px;
}

.qa-home-product a{
    
    text-decoration: none;
    color:black;
}

@media  (max-width: 767.98px){
    .qa-home-product .product-price-old{
    font-size: 12px;}

    .qa-home-product .product-price{
        font-size:15px;
    }
    .qa-home-product .card-title{
        font-size: 13px;
    }

}
@media (max-width: 500.98px){
    .qa-home-product .product-price-old{
    font-size: 11px;}
    .qa-home-product .product-price{
        font-size:13px;
        color:red;
    }
    .qa-home-product .card-title{
        font-size: 10px;
    }
}

@media (max-width: 380.98px){
    .qa-home-product .product-price-old{
    font-size: 12px;}
    .qa-home-product .product-price{
        font-size:13px;
        color:red;
    }
    .qa-home-product .btn{
        font-size: 10px;
    }
}



.qa-list-product .card{
    max-width: 100%;
}

.qa-list-product .product-price-old{
    font-size:16px;
}
.qa-list-product .product-price{
    font-size:18px;
    color:red;
}
.qa-list-product .card-title{
    font-size: 15px;
}

.qa-list-product a{
    
    text-decoration: none;
    color:black;
}

@media  (max-width: 767.98px){
    .qa-list-product{
        justify-content:space-evenly;
    }
    .qa-list-product .product-price-old{
    font-size: 12px;}

    .qa-list-product .product-price{
        font-size:15px;
    }
    .qa-list-product .card-title{
        font-size: 13px;
    }
    .qa-list-product .card{
        width: 230px;
    }

}
@media (max-width: 500.98px){
    .qa-list-product{
        justify-content:space-evenly;
    }
    .qa-list-product .product-price-old{
    font-size: 11px;}
    .qa-list-product .product-price{
        font-size:13px;
        color:red;
    }
    .qa-list-product .card-title{
        font-size: 10px;
    }
    .qa-list-product .card{
        width: 200px;
    }
}

@media (max-width: 380.98px){
    .qa-list-product{
        justify-content:space-evenly;
    }
    .qa-list-product .product-price-old{
    font-size: 12px;}
    .qa-list-product .product-price{
        font-size:13px;
        color:red;
    }
    .qa-list-product .btn{
        font-size: 10px;
    }
}


/*-----------------*/
.qa-product-show-links ul{
    display:flex;
    list-style:none;
}
.qa-product-show-links a{
    text-decoration: none;
}



/*---------------*/
.qa-product-content-size{
   max-height: 600px;
  
   overflow: hidden;

}


.qa-product-specifications-size{
    max-height:500px;
    
    overflow: hidden;
}


@media (max-width: 500.98px){
    .qa-product-content-size{
        overflow:hidden;
        max-height: 300px;
     }   
     .qa-product-specifications-size{
        max-height:200px;
        overflow: hidden;
    }
}

